<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="icon" type="img/png" href="../img/icon/icon.png">
  <title>Handlebars engine</title>
</head>
<body>
  <h1>{{title}}</h1>
  <h3>Num of users: {{lengthOfUsers}}</h3>
  <ul>
    {{#each users as |user|}}
    <li>
      <a href="/{{user.username}}">{{user.name}}</a>
    </li>
    {{/each}}
  </ul>
  <a href="http://localhost:3000/create">Create new user</a>
</body>
</html>